
h1 {
    font-family: 'Alegreya SC', serif;
    
}

h2 {
    font-family: 'Alegreya SC', serif;

}

h3 {
    font-family: 'Alegreya SC', serif;

}

h4 {
    font-family: 'Alegreya SC', serif;

}

h5 {
    font-family: 'Martel', serif;

}

p {
    font-family: 'Martel', serif;
}

li{
    font-family: 'Alegreya SC', serif;
}

