body{
      height: 1000vh;
      margin: 0;
      background-color: black;
}

/* Background */
.container {
      width: 100%;
      height: 2500px;
      background-position: center;
      background-size: cover;
      background-image: url(../Assets/Background.png) ;
      background-attachment: fixed;
      background-color: black;

      color: rgb(255, 255, 255);
      justify-content: center;
      align-items: center;
}

li {
      display: inline;
      padding: 20px;
}

.navbar{
      background-color: black;
      position: fixed;
      top: 0px;
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      align-items: center;
      max-height: 120px;
      opacity: 70%;
      backdrop-filter: blur(39px);
    }
.logo{
      margin-left: 8%;
}
.navcontact{
      margin-right: 8%;
      background-color: black;
      color: #fff;
}
    

.navorder {
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;
      transition-duration: 0.4s;
    }

/* Herobanner */

.heroimg {
      width:100%;
      height: 1000px;
      display: flex;
      object-fit: cover;
      
}

.title{
      position: absolute;
      top: 100px;
      left: 100px;
      font-size: 90px;
}

.herotxt{

      background-color: black;
      padding: 15px 30px 15px 30px;
      border-radius: 10px;
      opacity: 80%;
      width:max-content;

      position: absolute;
      bottom: 100px;
      left: 100px;

}

.trailer{
      text-align: center;
      background-color: black;
      height: fit-content;
      padding: 15px;
      
}

.story{
      text-align: left;
      background-color: black;
      height: fit-content;
      width: 50%;
      padding: 20px 20px 400px 20px;
      margin: auto;
      z-index: -1;
      border-radius: 10px;

}

.team{
      text-align: left;
      background-color: black;
      height: fit-content;
      width: 50%;
      padding: 20px 25vw 400px;
      margin: auto;

}

.border{
      margin: 0px;




}

